@model HRSupport.UI.Models.LeaveRequestPrintViewModel
@{
    Layout = null;
    var returnDate = Model.EndDate.AddDays(1); /* İzinden dönüş = işe dönüş tarihi */
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=Windows-1254">
    <title>Yıllık Ücretli İzin Formu - @Model.EmployeeName</title>
    <style type="text/css" media="print">
        .NonPrintable {
            display: none;
        }
    </style>
</head>
<body>

    <div align="center" style="padding-bottom: 20px;">
        <table width="662" border="0" cellpadding="0" cellspacing="0" style="background:#ffffff;font-size:12px;font-family:arial;">
            <tbody>
                <tr align="left" valign="top">
                    <td colspan="5">
                        <table width="662" border="0" cellpadding="0" cellspacing="0" style="background:#ffffff;font-size:12px;font-family:arial;">
                            <tbody>
                                <tr align="left" valign="top">
                                    <td width="240"><img src="https://www.mydmg.com/logolar/doganlogo.gif" alt="Logo" /></td>
                                    <td style="padding:2px"><strong>YILLIK ÜCRETLİ İZİN FORMU </strong></td>
                                    <td valign="bottom" align="right">Tarihi: @Model.FormPrintDate.ToString("dd.MM.yyyy")</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr align="left" valign="top">
                    <td rowspan="19" style="border: 1px solid #000000;"></td>
                    <td colspan="3" style="border: 1px solid #000000;"></td>
                    <td rowspan="19" style="border: 1px solid #000000;"></td>
                </tr>
                <tr align="left" valign="top">
                    <td colspan="3" style="border: 1px solid #000000; background:#010ca8;padding:2px;"><span style="color:#ffffff;">Kişisel Bilgiler :</span></td>
                </tr>
                <tr align="left" valign="top">
                    <td style="padding:2px">Adı Soyadı</td>
                    <td style="padding:2px">:</td>
                    <td style="padding:2px">@Model.EmployeeName</td>
                </tr>
                <tr align="left" valign="top">
                    <td style="padding:2px">Kurumu</td>
                    <td style="padding:2px">:</td>
                    <td style="padding:2px">@Model.Kurum</td>
                </tr>
                <tr align="left" valign="top">
                    <td style="padding:2px">Şirketi</td>
                    <td style="padding:2px">:</td>
                    <td style="padding:2px">@Model.Sirket</td>
                </tr>
                <tr align="left" valign="top">
                    <td style="padding:2px">Grup / Bölümü</td>
                    <td style="padding:2px">:</td>
                    <td style="padding:2px">@(string.IsNullOrEmpty(Model.DepartmentName) ? "" : Model.DepartmentName)</td>
                </tr>
                <tr align="left" valign="top">
                    <td style="padding:2px">Unvanı</td>
                    <td style="padding:2px">:</td>
                    <td style="padding:2px">@Model.Unvan</td>
                </tr>
                <tr align="left" valign="top">
                    <td style="padding:2px">Sicil No</td>
                    <td style="padding:2px">:</td>
                    <td style="padding:2px">@Model.SicilNo</td>
                </tr>
                <tr align="left" valign="top">
                    <td colspan="3" style="border: 1px solid #000000; background:#010ca8;padding:2px;"><span style="color:#ffffff;">İzin Talebi :</span></td>
                </tr>
                <tr align="left" valign="top">
                    <td style="height:102px;padding:2px" colspan="3">
                        <br>@Model.LeaveYear yılına ait yıllık ücretli iznimi @Model.StartDate.ToString("dd.MM.yyyy") - @Model.EndDate.ToString("dd.MM.yyyy") tarihleri arasında @Model.RequestedDays gün kullanmayı talep etmekteyim.<br><br>
                        İznini geçireceği adres ve telefon no: @(string.IsNullOrEmpty(Model.AddressAndPhone) ? "..." : Model.AddressAndPhone)
                        <div style="text-align:right">İmza&nbsp;</div>
                    </td>
                </tr>
                <tr align="left" valign="top">
                    <td colspan="3" style="border: 1px solid #000000; background:#010ca8;padding:2px;"><span style="color:#ffffff;">Yönetici Onayı :</span></td>
                </tr>
                <tr align="left" valign="top">
                    <td style="height:102px;padding:2px" colspan="3">
                        İnsan Kaynakları Müdürlüğü'ne,<br>
                        Adı geçen personelin yıllık ücretli iznini belirtilen tarihler arasında kullanması uygun görülmüştür.
                        <div style="text-align:right"><br>Adı Soyadı&nbsp;<br>(Onaylayan Yönetici ad soyad)<br><br>İmza&nbsp;<br><br></div>
                    </td>
                </tr>
                <tr align="left" valign="top">
                    <td colspan="3" style="border: 1px solid #000000; background:#010ca8;padding:2px;"><span style="color:#ffffff;">İnsan Kaynakları Onayı :</span></td>
                </tr>
                <tr align="left" valign="top">
                    <td style="height:132px;" colspan="3">
                        <br>
                        <table width="100%" border="0" cellpadding="6" cellspacing="3" style="background:#ffffff;font-size:12px;font-family:arial;">
                            <tbody>
                                <tr align="left" valign="top">
                                    <td style="padding:2px">Gruba giriş tarihi:</td>
                                    <td style="width:45%">@Model.EmployeeStartDate.ToString("dd.MM.yyyy")</td>
                                    <td style="padding:2px">Şirkete giriş tarihi:</td>
                                    <td style="padding:2px">@Model.EmployeeStartDate.ToString("dd.MM.yyyy")</td>
                                </tr>
                                <tr align="left" valign="top">
                                    <td style="padding:2px">İzni hakediş tarihi:</td>
                                    <td style="width:45%"></td>
                                    <td style="padding:2px">@Model.LeaveYear yılı yıllık izin süresi :</td>
                                    <td style="padding:2px"></td>
                                </tr>
                                <tr align="left" valign="top">
                                    <td style="padding:2px">Statü:</td>
                                    <td style="width:45%">4857 sayılı yasaya tabi</td>
                                    <td colspan="2"><div style="text-align:right"><br>Adı Soyadı&nbsp;<br><br>Kontrol / Onay  (imza)&nbsp;</div></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr align="left" valign="top">
                    <td colspan="3" style="background:#000000;height:1px;"></td>
                </tr>
                <tr align="left" valign="top">
                    <td style="height:162px;padding:2px" colspan="3">
                        <br>İnsan Kaynakları Müdürlüğü'ne,<br>
                        @Model.LeaveYear yılına ait, yıllık ücretli iznimi aşağıda belirtilen tarihler arasında kullandım. Bu süreye ait ücretimi işyerinden aldım.
                        <br><br>
                        <table width="100%" border="0" cellpadding="0" cellspacing="0" style="background:#ffffff;font-size:12px;font-family:arial;">
                            <tbody>
                                <tr align="left" valign="top">
                                    <td style="padding:2px">İzne çıkış tarihi:</td>
                                    <td style="width:45%">@Model.StartDate.ToString("dd.MM.yyyy")</td>
                                    <td style="text-align:right"><br>Adı Soyadı&nbsp;<br>@Model.EmployeeName</td>
                                </tr>
                                <tr align="left" valign="top">
                                    <td style="padding:2px">İzinden dönüş tarihi:</td>
                                    <td style="padding:2px">@returnDate.ToString("dd.MM.yyyy")</td>
                                    <td style="text-align:right"><br>İmza&nbsp;</td>
                                </tr>
                                <tr align="left" valign="top">
                                    <td style="padding:2px">Kullanılan izin günü:</td>
                                    <td style="padding:2px">@Model.KullanilanIzinGunuDisplay</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr align="left" valign="top">
                    <td colspan="3" style="background:#000000;height:1px;"></td>
                </tr>
                <tr align="left" valign="top">
                    <td colspan="3" style="padding:2px">İnsan Kaynakları Platformu, "İzin Yönetimi" bölümünde izin bilgileri kayıt edildikten sonra, personelin sicil dosyasında muhafaza edilecektir.<br></td>
                </tr>
                <tr align="left" valign="top">
                    <td colspan="3" style="border: 1px solid #000000;"></td>
                </tr>
                <tr align="left" valign="top">
                    <td colspan="5"><div style="float:left;">Bu form e-çalışan üzerinden yazdırılmıştır.</div><div style="float:right;">Personel Yönetmeliği / Ek-3</div> <br><br></td>
                </tr>
            </tbody>
        </table>
    </div>

    <br><br>
    <div align="center">
        <input type="button" class="NonPrintable" style="width:120px;height:40px;" value="Yazdır" onclick="window.print()">
    </div>
    <br><br>

</body>
</html>
